.wrapper{
  // background-color: rgba(0, 0, 0, 0.23);
  width: 100%;
}

.visited-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #636363;
  color: #898F98;

  caption{
    margin-bottom: 20px;
  }


  thead{
    th{
      padding: 5px;
      text-align: center;
    }
  }
  tbody {
    th, td {
      padding: 5px;
      text-align: left;
      // width: inherit;
    }

    tr:nth-child(even){
      background-color: #141414;
    }
    tr:nth-child(odd){
      background-color: #292929;
    }


    table {
      width: 100%;
    }
  }

  &__tr-day:nth-child(even){
    background-color: #2d2d2d !important;
  }
  &__tr-day:nth-child(odd){
    background-color: #454545 !important;
  }

  &__tr-unit:nth-child(even){
    background-color: #5a5a5a !important;
    color: #292929;
  }
  &__tr-unit:nth-child(odd){
    background-color: #696969 !important;
    color: #292929;
  }

  &__placeholder-th{
    width: 90%;
    padding: 0;
  }

  &__placeholder-td{
    width: 10%;
    padding: 0;
  }

}
.stories {
  border: 1px solid #B67F42 !important;
  color: #B68E61 ;
    tr:nth-child(even){
      background-color: #52391E !important;
    }
    tr:nth-child(odd){
      background-color: #6D4210 !important;
    }
  }
.screens {
  border: 1px solid #191d1c !important;
  color: #82918d !important;
    tr:nth-child(even){
      background-color: #0D201B !important;
    }
    tr:nth-child(odd){
      background-color: #27312E !important;
    }
  }

.subscreens {
  border: 1px solid #8F8399 !important;
  color: #928999 !important;
    tr:nth-child(even){
      background-color: #232026 !important;
    }
    tr:nth-child(odd){
      background-color: #2E2932 !important;
    }
  }

.parts {
  border: 1px solid #A35555 !important;
  color: #A36A6A !important;
    tr:nth-child(even){
      background-color: #351C1C !important;
    }
    tr:nth-child(odd){
      background-color: #471A1A !important;
    }
}

.components {
  border: 1px solid #194819 !important;
  color: #7c654f;
  tr:nth-child(even){
    background-color: #016E01 !important;
  }
  tr:nth-child(odd){
    background-color: #003900 !important;
  }
}

.visited-table_caption{
  background-color: #000000;
  color: #898F98;
  text-align: center !important;
}

.modals {
  border: 1px solid #8F8399 !important;
  color: #928999 !important;
  tr:nth-child(even){
    background-color: #232026 !important;
  }
  tr:nth-child(odd){
    background-color: #2E2932 !important;
  }
}

.jobs {
  border: 1px solid #838C98 !important;
  color: #898F98 !important;
  tr:nth-child(even){
    background-color: #202225 !important;
  }
  tr:nth-child(odd){
    background-color: #282C31 !important;
  }
}